.blog {
  background-color: var(--primary-super-light);
  padding-bottom: 120px;
}
.blog .feature-blog .blog-link {
  padding: 60px 0;
  display: flex;
  gap: 8px;
  align-items: center;
}
.blog .feature-blog .blog-link span {
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
}
.blog .feature-blog .blog-link span a {
  text-decoration: none;
  color: var(--black);
  font-weight: 600;
}
.blog .feature-blog .blog-link span a:hover {
  text-decoration: underline;
}
.blog .feature-blog .blog-content {
  /*             .image-area{
                  display: block;
                  position: relative;
                  overflow: hidden;
                  max-width: 100%;
                  z-index: 1;
                  img {
                      transition: .5s ease all; 
                      width: 100%; 
                      object-fit:cover;
                  }
                  &:hover img {
                      transform: scale(1.1);
                  }
                }
                .image-area::after {
                  content: '';
                  position: absolute;
                  left: 0;
                  top: 0;
                  width: 100%;
                  height: 100%;
                  background: #e5e5e5;
                  opacity: 0;
                  transition: .5s ease all;
              } */
}
.blog .feature-blog .blog-content .feature-title {
  font-weight: 700;
  padding-bottom: 24px;
  margin-bottom: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 45px;
  max-height: 92px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.blog .feature-blog .blog-content .feature-title a {
  color: var(--black);
  text-decoration: none;
  font-size: 36px;
}
.blog .feature-blog .blog-content .feature-title a:hover {
  text-decoration: underline;
}
.blog .feature-blog .blog-content .blog-info {
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 32px;
}
.blog .feature-blog .blog-content .blog-info span {
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 3px;
}
.blog .feature-blog .blog-content .blog-info span a {
  text-decoration: none;
  color: var(--black);
  font-weight: 600;
}
.blog .feature-blog .blog-content .blog-info span a:hover {
  padding-bottom: 8px;
  border-bottom: 2px solid var(--black);
}
.blog .feature-blog .blog-content .feature-content {
  padding-bottom: 6px;
}
.blog .feature-blog .blog-content .feature-content p {
  font-size: 16px;
  line-height: 27px;
  color: var(--black);
}
.blog .subscribe {
  padding: 60px 0;
  margin: 60px 0;
  background-color: var(--primary-light);
}
.blog .subscribe .sub-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog .subscribe .sub-info .subscribe-content span {
  font-size: 26px;
}
.blog .subscribe .sub-info .subscribe-input {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 100px;
}
.blog .subscribe .sub-info .subscribe-input input {
  padding: 15px 19px;
  width: 350px;
  font-size: 20px;
  font-weight: 600;
}
.blog .subscribe .sub-info .subscribe-input input::placeholder {
  font-size: 20px;
  opacity: 0.4;
}
.blog .single-blog-post .single-post {
  background-color: var(--primary-light);
  margin-bottom: 32px;
}
.blog .single-blog-post .single-post:hover h2 {
  text-decoration: underline;
}
.blog .single-blog-post .single-post .image-area a {
  display: block;
}
.blog .single-blog-post .single-post .content-area {
  padding: 0 20px 20px;
}
.blog .single-blog-post .single-post .content-area .blog-info {
  padding: 16px 0;
  display: flex;
  align-items: center;
  gap: 32px;
}
.blog .single-blog-post .single-post .content-area .blog-info span {
  border-bottom: 3px solid var(--primary-color);
  padding-bottom: 3px;
}
.blog .single-blog-post .single-post .content-area .blog-info span a {
  text-decoration: none;
  color: var(--black);
  font-weight: 600;
}
.blog .single-blog-post .single-post .content-area .blog-info span a:hover {
  padding-bottom: 8px;
  border-bottom: 3px solid var(--black);
}
.blog .single-blog-post .single-post .content-area h2 {
  font-weight: 700;
  padding-bottom: 24px;
  margin-bottom: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 45px;
  max-height: 92px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.blog .single-blog-post .single-post .content-area h2 a {
  text-decoration: none;
  color: var(--black);
}

/*# sourceMappingURL=blog.css.map */
