


:root {

    //colors
    --primary-color: rgb(207, 217, 8);
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --gray: rgb(248, 249, 250);
    --primary-light: #f3f5db;
    --primary-super-light: #fefff2;

    //RGB
    --prymary-color-hex: 207, 217, 8;
    --black-hex: 0, 0, 0;
    --white-hex: 255, 255, 255;

    //fonts
    --primary-font : 'helvetica_now';

    //transition
    --transition: 200ms all ease-in-out;
}


