footer{
    background-color: var(--black);
    padding-top: 80px;
    padding-bottom: 40px;
    .container{
        .footer-content{
            .footer-navs{
                display: flex;
                justify-content: space-between;
                line-height: 32px;
                .width25{
                    width: 25%;
                    li{
                        list-style: none;
                        a{
                            text-decoration: none;
                            color: var(--white);
                            text-transform: capitalize;
                            font-size: 16px;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }

            .footer-social{
                display: flex;
                justify-content: space-between;
                padding-top: 60px;
                .social-links{
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    span{
                        color: var(--white);
                        text-transform: capitalize;
                    }
                    .social-icons{
                        .social-icon{
                            display: flex;
                            gap: 10px;
                            a{
                                border: 2px solid var(--white);
                                text-decoration: none;
                                color: var(--white);
                                padding: 15px;
                                border-radius: 50%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 50px;
                                width: 50px;
                                background-color: transparent;
                                opacity: 1;
                                z-index: 2;
                                &:hover{
                                    background-color: var(--white);
                                    transition: var(--transition);
                                    color: var(--black);
                                }
                            }
                        }
                    }
                }
            }
            .footer-devider{
                height: 1px;
                background-color: var(--white);
                margin: 32px 0;
            }
            .footer-copyright{
                color: var(--white);
                display: flex;
                justify-content: center;
                text-transform: capitalize;
            }
        }
    }
}