header.header{
    background-color: var(--primary-color);
    padding-top: 40px;
    .container{
        .header-content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo{
                max-width: 120px;
            }
            .nav-menu{
                display: flex;
                gap: 10px;
                li{
                    list-style: none;
                    a{
                        font-weight: 600;
                        text-decoration: none;
                        color: var(--black);
                        text-transform: capitalize;
                        font-size: 16px;
                        font-family: var(--primary-font);
                        padding: 24px 8px;
                        display: block;
                        opacity: 1;
                        transition: var(--transition);
                        &:hover{
                            opacity: .8;
                        }
                    }
                }
            }
            .search{
                i{
                    color: var(--black);
                    padding: 15px;
                    font-size: 18px;
                }
            }
        }
    }
}